.achievements{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    padding-right: 100px;
    fontFamily: Inter;
    color: #4d4d4d;
    background-color: #F5F7FA;
}

@media only screen and (max-width: 728px) {
    .achievements{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding-right: 0;
        margin-top: 10px;
    }
}