.heroSection{
    display: flex;
    justify-content: center;
    gap: 100px;
    /*padding-top: 150px;*/
    background-color: #F5F7FA;
}

.heroSection> div > h1{
    color: #4d4d4d;
    font-weight: bolder;
    font-size: 64px;
    gap: 20px;
    line-height: 76px;
    font-family: Inter;
    align-items: stretch;
}

.image{
    width: 400px;
    height: 500px;
    objectFit: contain
}

@media only screen and (max-width: 728px){
    .image{
        display: none;
    }
}

@media only screen and (max-width: 1080px){
    .image{
       display: none;
    }
}